{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as post_helper with context %}
{% import 'post_header.tmpl' as pheader with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ super() }}
    {% if post.meta('keywords') %}
    <meta name="keywords" content="{{ post.meta('keywords')|e }}">
    {% endif %}
    {% if post.description() %}
    <meta name="description" itemprop="description" content="{{ post.description() }}">
    {% endif %}
    <meta name="author" content="{{ post.author() }}">
    {% if post.prev_post %}
        <link rel="prev" href="{{ post.prev_post.permalink() }}" title="{{ post.prev_post.title()|e }}" type="text/html">
    {% endif %}
    {% if post.next_post %}
        <link rel="next" href="{{ post.next_post.permalink() }}" title="{{ post.next_post.title()|e }}" type="text/html">
    {% endif %}
    {% if post.is_draft %}
        <meta name="robots" content="noindex">
    {% endif %}
    {{ post_helper.open_graph_metadata(post) }}
    {{ post_helper.twitter_card_information(post) }}
    {{ post_helper.meta_translations(post) }}
{% endblock %}

{% block content %}
<article class="post-{{ post.meta('type') }} h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article">
    {{ pheader.html_post_header() }}
    <div class="e-content entry-content" itemprop="articleBody text">
    {% if is_old(post.date) %}
      <section class="border-t-2 border-b-2 border-r-0 border-l-0 border-solid border-gray-400 pt-2 pb-2 pr-4 pl-4 mt-8 mb-4 bg-gray-100 text-sm">
        Note: This is an old post in a blog with a lot of posts. The world has
        changed, technologies have changed, and I've changed.  It's likely this
        is out of date and not representative. Let me know if you think this is
        something that needs updating.
      </section>
    {% endif %}
    {{ post.text() }}
    </div>
    <section class="border-t-2 border-b-2 border-r-0 border-l-0 border-solid border-gray-400 pt-2 pb-2 pr-4 pl-4 mt-8 mb-4 bg-gray-100 text-sm">
        Want to comment? Send an email to <em>willkg at bluesock dot
        org</em>. Include the url for the blog entry in your comment so I have
        some context as to what you're talking about.
    </section>
    <aside class="postpromonav">
    <nav>
    {{ post_helper.html_tags(post) }}
    {{ post_helper.html_pager(post) }}
    </nav>
    </aside>
    {{ post_helper.mathjax_script(post) }}
</article>
{% endblock %}

{% block sourcelink %}
{% if show_sourcelink %}
    <li>
    <a href="{{ post.source_link() }}" id="sourcelink">{{ messages("Source") }}</a>
    </li>
{% endif %}
{% endblock %}
